body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.services-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5px;
  gap: 40px;
}

.services-card{
  border: 1px solid slategray;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
}

.service-details{
  padding: 10px;
}

.services-card img {
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 476px) {
  .services-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 477px) and (max-width: 768px) {
  .services-container{
    grid-template-columns: repeat(2, 1fr);
  }
}